In [99]:
import os
import glob
import numpy as np
import pandas as pd

In [100]:
NF = 50 #number of files
NP = 57300 #number of particles

In [101]:
contador1 = list()
contador2 = list()
contador = list()
concentracao1 = list()
concentracao2 = list()
Tipo = np.zeros((NP,NF))
posicaoX = np.zeros((NP,NF))
posicaoY = np.zeros((NP,NF))

In [102]:
#construção das repartições no tambor
nd_x = 5
nd_y = 5

max_x = 0.075
min_x = -0.075
max_y = 0.075
min_y = -0.075
esp_x = (max_x - min_x)/nd_x
esp_y = (max_y - min_y)/nd_y

In [103]:
#leitura dos dados
#j = 1
#for i in range(0,NF):
    #Dados = pd.read_csv('rot_{}.csv'.format(i))
    #Dados_filter = Dados.filter(items=['type','Points:0','Points:1'])
    #posicaoX[0:i] = Dados_filter['Points:0'].copy()
    
    #posicaoX[0:i] = Dados_filter.loc[:,:2].copy()

    #posicaoX.append(posicaoX[i])
    #posicaoY[i] = Dados.iloc[2].copy()
    #j = j + 1
    
#display(Dados_Filter)
#display(posicaoX)
#display(Dados_Filter.iloc[:,[0,1]])
#display(Dados_Filter.loc['Points:0'])
#display(Dados_Filter.iloc[:,2:3])
#Dados_filter.shape
#display(Dados_Filter.iloc[1])

In [104]:
#leitura dos dados

home = os.path.expanduser("~")
path = f"E:/PIBIC/efeito da dimensao do tambor - densidade/70/dados_rot"
all_files = glob.glob(path + "/*.csv")
Dados = pd.concat((pd.read_csv(f) for f in all_files))
Dados_filter = Dados.filter(items=['type','Points:0','Points:1'])
display(Dados_filter)

      type  Points:0  Points:1
0        1 -0.025685 -0.067171
1        1 -0.019675 -0.069238
2        1 -0.011172 -0.071109
3        1 -0.008883 -0.065629
4        1 -0.014901 -0.065631
...    ...       ...       ...
1141     2  0.071930 -0.001435
1142     2  0.066010 -0.000602
1143     2  0.061095  0.002819
1144     2  0.071673  0.004548
1145     2  0.069251  0.009939

[57300 rows x 3 columns]

In [105]:
#construção do ponteiro para localização
cd1 = Dados_filter
cd1['Points:0'] = Dados_filter['Points:0'].div(esp_x).round(0)+3
cd1['Points:1'] = Dados_filter['Points:1'].div(esp_y).round(0)+3
posicao = -5+cd1['Points:0']+5*cd1['Points:1']
cd1 = cd1.assign(posicao = posicao.values)
print(cd1)

      type  Points:0  Points:1  posicao
0        1       2.0       1.0      2.0
1        1       2.0       1.0      2.0
2        1       3.0       1.0      3.0
3        1       3.0       1.0      3.0
4        1       3.0       1.0      3.0
...    ...       ...       ...      ...
1141     2       5.0       3.0     15.0
1142     2       5.0       3.0     15.0
1143     2       5.0       3.0     15.0
1144     2       5.0       3.0     15.0
1145     2       5.0       3.0     15.0

[57300 rows x 4 columns]

In [106]:
#contagem de particulas repetidas em cada posição
count = cd1.groupby(['type', 'posicao']).size().reset_index(name='count')
count2 = pd.DataFrame(count)
dftype1 = count2[(count2.type == 1)]
dftype2 = count2[(count2.type == 2)]
dftype2.reset_index(inplace = True, drop = True)

#Dataframe de zeros para preenchimento
count3 = pd.DataFrame(0, columns=['type','posicao','count'],index=range(25))
count4 = pd.DataFrame(0, columns=['type','posicao','count'],index=range(25))
posicao1 = list(range(1, 26, 1))
posicao2 = list(range(1, 26, 1))
count3['posicao'] = posicao1
count4['posicao'] = posicao2


#count3 = pd.concat([dftype1, count3]).drop_duplicates()
#count4 = pd.concat([dftype2, count4]).drop_duplicates()

#for i in range(0,count2.shape[0]):
    #for j in range(0,count2.shape[0]):
        #if count2.iloc[i]['posicao'] == count2.iloc[j]['posicao'] and count2.iloc[i]['type'] == 1:
            #count3.iloc[i] = count2.loc[j].copy()
        #if count2.iloc[i]['posicao'] == count2.iloc[j]['posicao'] and count2.iloc[i]['type'] == 2:
            #count3.iloc[i] = count2.loc[j].copy()
#count4 = pd.concat([count2, count3], axis=1, join='inner')
    #dftype1_ax
#for
    #dftype2_ax

#dftypetotal = dftype1['count'] + dftype2['count']
#concentracao = dftype1['count']/dftypetotal
#std(concentracao)
display(count2)
display(count3)
display(count4)

#display(dftype1)
#display(dftype2)
#display(dftypetotal)

    type  posicao  count
0      1      1.0      1
1      1      2.0   1455
2      1      3.0   5751
3      1      4.0   4240
4      1      5.0    325
5      1      7.0     55
6      1      8.0   2751
7      1      9.0   7794
8      1     10.0   4046
9      1     14.0    219
10     1     15.0   2013
11     2      1.0    185
12     2      2.0   5650
13     2      3.0   4685
14     2      4.0   3945
15     2      5.0   1010
16     2      6.0      1
17     2      7.0    623
18     2      8.0   2090
19     2      9.0   1915
20     2     10.0   4046
21     2     14.0    655
22     2     15.0   3845

    type  posicao  count
0      0        1      0
1      0        2      0
2      0        3      0
3      0        4      0
4      0        5      0
5      0        6      0
6      0        7      0
7      0        8      0
8      0        9      0
9      0       10      0
10     0       11      0
11     0       12      0
12     0       13      0
13     0       14      0
14     0       15      0
15     0       16      0
16     0       17      0
17     0       18      0
18     0       19      0
19     0       20      0
20     0       21      0
21     0       22      0
22     0       23      0
23     0       24      0
24     0       25      0

    type  posicao  count
0      0        1      0
1      0        2      0
2      0        3      0
3      0        4      0
4      0        5      0
5      0        6      0
6      0        7      0
7      0        8      0
8      0        9      0
9      0       10      0
10     0       11      0
11     0       12      0
12     0       13      0
13     0       14      0
14     0       15      0
15     0       16      0
16     0       17      0
17     0       18      0
18     0       19      0
19     0       20      0
20     0       21      0
21     0       22      0
22     0       23      0
23     0       24      0
24     0       25      0

In [107]:
#cálculo da concentração

if dftype1.type == 1:
    for i in range (0,count3.shape[0]):
        for j in range(0,dftype1.shape[0]):
            if count2.iloc[i]['posicao'] == count2.iloc[j]['posicao']:

SyntaxError: incomplete input (1894030385.py, line 6)

In [110]:
a = list(range(1, 26, 1))
print(a)
#cálculo da concentração

#if dftype1.shape[0] >= dftype2.shape[0]:
    #for i in range(0,dftype1.shape[0]):
        #for j in range(0,dftype2.shape[0]):
            #if dftype1.iloc[i]['posicao'] == dftype2.iloc[j]['posicao']:
                #concentracao_1 = dftype1.iloc[i]['count']/(dftype1.iloc[i]['count'] + dftype2.iloc[j]['count'])
                #concentracao1.insert(i, concentracao_1)
                
#else:
    #for i in range(0,dftype2.shape[0]):
       # for j in range(0,dftype1.shape[0]):
            #if dftype2.iloc[i]['posicao'] == dftype1.iloc[j]['posicao']:
                #concentracao_2 = dftype2.iloc[i]['count']/(dftype1.iloc[i]['count'] + dftype2.iloc[j]['count'])
                #concentracao2.insert(i, concentracao_2)
                
#print(dftype1.shape[0])
#print(dftype2.shape[0])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]